.login {
  margin: 90px auto;
}
.ma1 {
  width: 1002px;
}
.login-txt {
  width: 268px;
  padding: 20px 41px;
  border: 1px solid #eaeaea;
}
.bg-white {
  background-color: #fff;
}
.tab {
  padding-bottom: 40px;
  padding-left: 40px;
}
.tab h3 {
  float: left;
  font-size: 18px;
  cursor: pointer;
  color: #333;
  font-weight: normal;
  margin-left: 55px;
}
.mt20 {
  margin-top: 20px;
}
.pr {
  position: relative;
}
.to-i {
  border: 1px solid #c5cddb;
  transition-duration: 0.3s;
}
.l-input {
  width: 220px;
  height: 35px;
  line-height: 35px;
  padding-left: 48px;
}
.l-i-icon {
  left: 0;
  top: 3px;
  width: 37px;
  height: 31px;
  border-right: 1px solid #ccc;
  background: url(../img/l-icon4.png) no-repeat center;
}
.pa {
  position: absolute;
}
.l-i-icon.l-size {
  background-size: 20px 18px;
}
.mt15 {
  margin-top: 15px;
}
.l-i-icon.l-i-1 {
  background: url(../img/l-icon5.png) no-repeat center;
}
.l-i-icon.l-i-1.l-size {
  background-size: 18px 21px;
}
#sc {
  margin-top: 20px;
}
.l-i-con1 {
  background: url(../img/l-icon.png) no-repeat left center;
  padding-left: 22px;
}
.col-blue {
  color: #118ace;
}
.mt10 {
  margin-top: 10px;
}
.l-btn {
  border: 0;
  cursor: pointer;
  width: 100%;
  height: 40px;
  background-color: #118bce;
}
.col-white {
  color: #fff;
}
.f18 {
  font-size: 18px;
}
.col-nine {
  color: #999;
}
.center {
  text-align: center;
}
body {
  font-size: 12px;
}
img {
  vertical-align: middle;
}
a {
  text-decoration: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  visibility: hidden;
}
